@model _012.Models.Card

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Card</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="CardNumber" class="control-label"></label>
                <input asp-for="CardNumber" class="form-control" />
                <span asp-validation-for="CardNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardAccount" class="control-label"></label>
                <input asp-for="CardAccount" class="form-control" />
                <span asp-validation-for="CardAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardBalance" class="control-label"></label>
                <input asp-for="CardBalance" class="form-control" />
                <span asp-validation-for="CardBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardHolderId" class="control-label"></label>
                <input asp-for="CardHolderId" class="form-control" />
                <span asp-validation-for="CardHolderId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CardHolderName" class="control-label"></label>
                <input asp-for="CardHolderName" class="form-control" />
                <span asp-validation-for="CardHolderName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="expiryDate" class="control-label"></label>
                <input asp-for="expiryDate" class="form-control" />
                <span asp-validation-for="expiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cvi" class="control-label"></label>
                <input asp-for="cvi" class="form-control" />
                <span asp-validation-for="cvi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="changeBalance" class="control-label"></label>
                <input asp-for="changeBalance" class="form-control" />
                <span asp-validation-for="changeBalance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
